/* colours
Teal #1ABC9C
Grey #EDF0F1
*/

/* Structure
-----------------------------------------------------*/
html{
  background: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
  margin: 0;
  color: #FFF;
  font-family: 'Aref Ruqaa';
  word-spacing: .15em;
}
.container{
  margin: auto;
  margin-top: 100px;
  width: 90%;
  max-width: 900px;
  min-width: 300px;
}
.content-box{
  background-color: rgba(237, 240, 241, 0.8);
  color: #000;
  padding: 2em 1em;
  margin: .4em auto .8em;
  overflow: auto;
  border-radius: 20px 0 20px 0;
}

/* Typography
-----------------------------------------------------*/
h1{
  font-family: 'Aclonica';
  word-spacing: .05em;
}
a{
  color: #FFF;
  text-decoration: none;
}

/* Forms
-----------------------------------------------------*/
input[type="radio"],
input[type="text"],
input[type="text"] + label{
  float: left;
  clear: left;
}
input{
  background-color: rgba(237, 240, 241, 0.5);
  margin: .8em;
  padding: 1.2em;
}
label{
  float: left;
}
fieldset{
  border: none;
}
#progress-container{
  display: none;
  position: relative;
}
progress{
  background: transparent;
  width: 100%;
  border: 1px solid #1ABC9C;
  border-radius: 5px;
  height: 40px;
  margin-top: 40px;
  margin-bottom: 20px;
  display: block;
  -webkit-appearance: none;
}
progress::-webkit-progress-bar{
  background: transparent;
  border-radius: 5px;
}
progress::-webkit-progress-value{
  background: #1ABC9C;
}
progress::-moz-progress-bar{
  background: #1ABC9C;
  border-radius: 5px;
}
#progress-value{
  position: absolute;
  top: 6px;
  left: 20px;
}
.progress{
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 15px 0 0;
  margin: auto;
}
.col{
  width: 10%;
  float: left;
  text-align: center;
  margin-bottom: 5px;
}
.circle{
  width: 4.5em;
  height: 4.5em;
  border: 1px solid #1ABC9C;
  border-radius: 50%;
  display: inline-block;
  line-height: 4.2em;
  margin-right: 1.1em;
}
.circle:last-child{
  margin-right: 0;
}

/* Instructions
-----------------------------------------------------*/
.instructions{
  line-height: 2em;
}

/* Buttons
-----------------------------------------------------*/
button{
  background-color: rgba(80, 190, 155, 0.9);
  color: #FFF;
  font-size: .9em;
  padding: 1.2em;
  margin: .2em 0 1em .3em;
  float: right;
  border: none;
  border-radius: 10px 0 10px 0;
}
button:hover{
  opacity: .7;
}
button:focus{
  outline: none;
}
#restart-quiz{
  float: none;
  margin-left: 0;
}
.btn-pag{
  float: left;
  margin-right: .4em;
  background-color: transparent;
  border: 1px solid #1ABC9C;
}
.btn-pag-invalid{
  opacity: .7;
}
#btn-instructions{
  float: left;
}
#calculate-score:hover{
  background-color: rgba(80, 190, 155, 0.6);
}

/* Error / success messages
-----------------------------------------------------*/
#signup-error-message{
  color: #FF0000;
}
#error-message{
  margin-top: 10px;
}
#error-message,
#error-message-pb{
  color: #FFF;
  margin-bottom: 30px;
}
#completed-message-box{
  text-align: center;
}
/* Styling classes
-----------------------------------------------------*/
.bold{
  font-weight: bold;
}
.clear{
  clear: both;
}
.hidden{
  display: none;
}
.hide{
  visibility: hidden;
}
.question{
  display: none;
}
.active{
  display: inherit;
}
.red{
  background-color: transparent;
  border: 1px solid #FF0000;
}
.teal{
  background-color: rgba(80, 190, 155, 0.8);
}

/* Fade in animation
-----------------------------------------------------*/
.fade-in{
  animation-name: fade-in;
  -webkit-animation-name: fade-in;

  animation-duration: 400ms;
  -webkit-animation-duration: 400ms;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;

  visibility: visible !important;
}

@keyframes fade-in{
  0%{
    transform: scale(0);
    opacity: 0.0;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in{
  0%{
    -webkit-transform: scale(0);
    opacity: 0.0;
  }
  100%{
    -webkit-transform: scale(1);
    opacity: 1;
  }
}

/* Pulse animation
-----------------------------------------------------*/
.pulse{
  animation-name: pulse;
  -webkit-animation-name: pulse;

  animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes pulse{
  0%{
    transform: scale(0.9);
    opacity: 0.7;
  }
  50%{
    transform: scale(1);
    opacity: 1;
  }
  100%{
    transform: scale(0.9);
    opacity: 0.7;
  }
}

@-webkit-keyframes pulse{
  0%{
    -webkit-transform: scale(0.95);
    opacity: 0.7;
  }
  50%{
    -webkit-transform: scale(1);
    opacity: 1;
  }
  100%{
    -webkit-transform: scale(0.95);
    opacity: 0.7;
  }
}

/* Expand open animation
-----------------------------------------------------*/
.expandOpen{
  animation-name: expandOpen;
  -webkit-animation-name: expandOpen;

  animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;

  visibility: visible !important;
}

@keyframes expandOpen{
  0%{
    transform: scale(1.8);
  }
  50%{
    transform: scale(0.95);
  }
  80%{
    transform: scale(1.05);
  }
  90%{
    transform: scale(0.98);
  }
  100%{
    transform: scale(1);
  }
}

@-webkit-keyframes expandOpen{
  0%{
    -webkit-transform: scale(1.8);
  }
  50%{
    -webkit-transform: scale(0.95);
  }
  80%{
    -webkit-transform: scale(1.05);
  }
  90%{
    -webkit-transform: scale(0.98);
  }
  100%{
    -webkit-transform: scale(1);
  }
}

/* Loading animation
-----------------------------------------------------*/
.fa{
    margin-right: 10px;
}

/* Media Queries
-----------------------------------------------------*/
@media only screen and (max-width: 768px){
  h1{
    text-align: center;
  }
  #progress-container,
  #error-message-pb{
    display: block;
  }
  .progress-circles{
    display: none;
  }
  #calculate-score{
    float: left;
    clear: left;
  }
  #next{
    float: right;
  }
}
