/* colours
Teal #1ABC9C
Grey #EDF0F1
*/

/* Structure
-----------------------------------------------------*/
body{
  background-color: #000;
  margin: 0;
  color: #FFFFFF;
}
.container{
  margin: auto;
  width: 90%;
  max-width: 900px;
  min-width: 300px;
}
.content-box{
  background-color: #EDF0F1;
  color: #000;
  padding: 1em;
  margin: .4em auto;
  overflow: auto;
  border-radius: 20px 0 20px 0;
}

/* Forms
-----------------------------------------------------*/
input[type="radio"], input[type="text"], input[type="text"] + label {
  float: left;
  clear: left;
}
input{
  margin: .8em;
  padding: 1.2em;
}
label{
  float: left;
  padding-top: .5em;
}
fieldset{
  border: none;
}

/* Buttons
-----------------------------------------------------*/
button{
  background-color: #1ABC9C;
  color: #FFFFFF;
  font-size: .9em;
  padding: 1.2em;
  margin: .2em 0 1em .3em;
  float: right;
  border: none;
  border-radius: 10px 0 10px 0;
}
button:hover{
  opacity: .8;
}
button:focus{
  outline: none;
}
#resit{
  float: left;
  margin-left: 0;
}

/* Error / success messages
-----------------------------------------------------*/
#error-message{
  color: #FF0000;
}

/* Styling classes
-----------------------------------------------------*/
.bold{
  font-weight: bold;
}
.hidden{
  display: none;
}
